.about {
  &__box {
    @media screen and (min-width: 650px) {
      width: 50%;
    }
  }

  &__limiter {
    max-height: 73px;
    overflow: hidden;
    padding: 0 $pd_s;
    margin-bottom: 15px;
    transition: all 0.1s ease;

    @media screen and (min-width: 650px) {
      max-height: 148px;
      overflow: hidden;
      padding: 0 40px 0 16px;
    }
  }

  &__limiter--height {
    max-height: 1000px;
    transition: all 1s ease;
  }

  &__text {
    letter-spacing: 0.4px;
    color: $color_text1;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__show-btn {
    @include fontz(16px, 24px, -0.2px);
    background: transparent;
    font-weight: 500;
    color: $color_text1;
    padding-left: 57px;
    position: relative;
    transition: all 0.5s;
    display: block;

    @media screen and (min-width: 1024px) {
      padding-left: 63px;
    }

    &::before {
      content: url('../img/downArrows.svg');
      display: inline-block;
      width: 24px;
      height: 23px;
      position: absolute;
      left: 25px;
      transition: all 0.5s;

      @media screen and (min-width: 1024px) {
        left: 31px;
      }
    }

    &:hover::before {
      animation: moveDown 1s infinite;
    }

    &:focus {
      text-decoration: underline;
    }

    &--margin {
      margin-bottom: 16px;
    }

    &--rotate::before {
      transform: rotate(-180deg);
    }

    &--rotate {
      &:hover::before {
        animation: moveUp 1s infinite;
      }
    }
  }

  &__show-text::after {
    content: 'Читать далее';
  }

  &__show-text--clicked::after {
    content: 'Скрыть';
  }

  &__img {
    width: 100%;

    @media screen and (min-width: 650px) {
      width: 50%;
      background: #f8f8f8;
      border-radius: 6px;
      align-self: flex-start;
    }
  }

  &--align--row {
    @media screen and (min-width: 650px) {
      display: flex;
      padding: 25px;
    }
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(40%);
  }
}

@keyframes moveUp {
  0% {
    transform: rotate(180deg);
  }
  100% {
    opacity: 0;
    transform: rotate(180deg) translateY(40%);
  }
}
