html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
  font-family: 'TT Lakes', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  min-width: 320px;
  overflow-x: hidden;
}
