html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
  font-family: 'TT Lakes', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  @include fontz(14px, 18px, 0);
  min-width: 320px;
  overflow-x: hidden;
}
