.brands {
  &__swiper {
    width: 100%;
    height: 108px;
    padding: 0 $pd_s;
    margin-bottom: 16px;

    @media screen and (min-width: $screen-lg) {
      height: auto;
      padding: 0 $pd_m;
      margin-bottom: 8px;
    }

    @media screen and (min-width: $screen-xl) {
      padding: 0 $pd_l;
    }
  }

  &__swiper-wrapper {
    @media screen and (min-width: $screen-lg) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      overflow: hidden;
      max-height: 170px;
      transition: all 0.1s ease;
    }
  }

  &__swiper-wrapper--height {
    @media screen and (min-width: $screen-lg) {
      max-height: 1000px;
      transition: all 1s ease;
    }
  }

  &__swiper-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color_back2;
    border: 1px solid $color_back3;
    border-radius: 6px;
    width: 240px;
    height: 72px;
    padding: $pd_s;

    @media screen and (min-width: $screen-lg) {
      width: 31%;
      margin-bottom: 16px;
    }

    @media screen and (min-width: $screen-xl) {
      width: 23%;
    }
  }

  &__img {
    display: block;
    max-width: 70%;
    height: auto;
  }

  &__swiper-pagination {
    @media screen and (min-width: $screen-lg) {
      display: none;
    }
  }
}
