.footer {
  &__wrapper {
    padding: 0 $pd_s;
    padding-bottom: 6px;

    @media screen and (min-width: $screen-lg) {
      padding: 0 $pd_m;
      display: flex;
      justify-content: space-between;
    }

    @media screen and (min-width: $screen-xl) {
      padding: 0 $pd_l;
    }
  }

  &__text {
    @include fontz(14px, 16px, 0);
    text-align: center;
    color: $color_text2;
    mix-blend-mode: normal;
    opacity: 0.72;
    margin-bottom: 16px;

    @media screen and (min-width: $screen-lg) {
      text-align: start;
      width: 33%;
    }
  }

  &__link {
    color: $color_text2;

    &:hover,
    &:focus {
      color: $color_accent1;
    }
  }
}
