.header {
  background-color: $color_back2;
  padding: 18px 16px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color_accent4;

  @media screen and (min-width: $screen-xl) {
    display: none;
  }

  &__burger-button--margin {
    @media screen and (min-width: $screen-md) and (max-width: $screen-xl) {
      margin-right: 24px;
    }
  }

  &__logo--margin {
    @media screen and (min-width: $screen-sm) {
      margin-right: 30%;
    }
  }

  &__img-button--repair--margin {
    margin-left: 24px;
  }
}

