.img-button {
  color: transparent;
  width: 40px;
  height: 40px;
  opacity: 1;
  transition: all 0.3s;
  border-radius: 50%;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &--burger {
    background: url('../img/nav/burger.svg') no-repeat center center $color_back2;
  }

  &--burger-pseudo-element::after {
    @media screen and (min-width: $screen-md) and (max-width: $screen-xl) {
      content: '';
      position: absolute;
      width: 2px;
      height: 32px;
      transform: translateY(-50%);
      background: $color_back3;
      border-radius: 1px;
      margin-left: 23px;
      cursor: default;
    }
  }

  &--burger-close {
    background: url('../img/nav/burger-close.svg') no-repeat center center
    $color_back2;
  }

  &--search {
    background: url('../img/nav/search.svg') no-repeat center center $color_back2;
  }

  &--call {
    background: url('../img/nav/call.svg') no-repeat center center $color_back2;
  }

  &--feedback {
    background: url('../img/nav/chat.svg') no-repeat center center $color_back2;
  }

  &--profile {
    background: url('../img/nav/profile.svg') no-repeat center center $color_back2;
  }

  &--repair {
    background: url('../img/nav/repair.svg') no-repeat center center $color_back2;
    position: relative;
  }

  &--checkstatus {
    background: url('../img/nav/checkstatus.svg') no-repeat center center
    $color_back2;
  }

  &--hidden {
    display: none;

    @media screen and (min-width: $screen-md) and (max-width: $screen-xl) {
      display: block;
    }
  }

  &--repair--pseudo-element::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 32px;
    transform: translateX(-50%);
    background: $color_back3;
    border-radius: 1px;
    margin-left: -19px;
    cursor: default;
  }
}
