.lang {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 8px;
  }

  &__btn {
    background-color: transparent;
    @include fontz(16px, 24px, -0.2px);
    color: $color_text1;
    font-weight: 500;
    transition: all 0.3s;

    &:hover,
    &:focus {
      color: $color_accent1;
    }
  }

  &__btn--active {
    color: $color_text2;
  }
}
