.main-menu {
  &__link {
    width: 100%;
    display: inline-block;
    @include fontz(16px, 24px, -0.2px);
    color: $color_text1;
    padding: 10px 0;
    margin-bottom: 12px;
    position: relative;
    font-weight: 500;

    &::before {
      content: '';
      position: absolute;
      width: 4px;
      height: 32px;
      background: $color_accent2;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      transform: translate(-24px, -5px);
      display: none;
    }

    &:active,
    &:hover,
    &:focus {
      color: $color_text2;
    }

    &:active::before,
    &:hover::before,
    &:focus::before {
      display: block;
    }
  }

  &__link--active {
    position: relative;
    color: $color_text2;

    &::after {
      content: '';
      position: absolute;
      width: 4px;
      height: 32px;
      background: $color_accent2;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      right: 107%;
      top: 5px;
    }
  }
}
