.modal-search {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);

  &__close-btn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    background: #ff3e79;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__content {
    max-width: 1440px;
    position: relative;
    top: 30%;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &__input {
    padding: 15px;
    font-size: 17px;
    border: none;
    background: white;
    box-shadow: 0px 0px 52px 29px rgba(14, 24, 80, 0.2);
    border-radius: 16px;
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
      margin-bottom: 0;
      flex-grow: 1;
    }

    &:hover {
      background: #f1f1f1;
    }
  }

  &__submit {
    padding: 15px;
    background: #ff3e79;
    font-size: 17px;
    border: none;
    cursor: pointer;
    align-self: center;
  }
}
