@keyframes move {
  0% {
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}

.offer-link {
  @include fontz(16px, 24px, -0.2px);
  color: $color_text1;
  display: inline-block;
  padding: 0 $pd_s;
  font-weight: 500;
  position: relative;
  margin-bottom: 60px;

  @media screen and (min-width: $screen-lg) {
    padding: 0 $pd_m;
    margin-bottom: 80px;
  }

  @media screen and (min-width: $screen-xl) {
    padding: 0 $pd_l;
  }

  &:after {
    content: url(../img/main/arrowrightRed.svg);
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    bottom: -2px;
    padding-left: 10px;
  }

  &:hover::after,
  &:focus::after {
    animation: move 1s infinite;
  }
}
