.order-btn {
  background: $color_accent1;
  border-radius: 16px;
  @include fontz(12px, 24px, -0.15px);
  text-transform: uppercase;
  color: $color_back2;
  font-weight: 500;
  padding: 4px 12px;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  &::after {
    content: url(../img/main/arrowright.svg);
    display: inline-block;
    line-height: 25px;
    vertical-align: top;
    padding-left: 10px;
    width: 24px;
    height: 24px;
  }

  &--position {
    position: absolute;
    right: 16px;
    bottom: 16px;

    @media screen and (min-width: $screen-lg) {
      position: static;
      justify-self: end;
    }
  }
}
