.order-btn {
  background: #ff3e79;
  border-radius: 16px;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  padding: 4px 12px;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  &::after {
    content: url(../img/main/arrowright.svg);
    display: inline-block;
    line-height: 25px;
    vertical-align: top;
    padding-left: 10px;
    width: 24px;
    height: 24px;
  }

  &--position {
    position: absolute;
    right: 16px;
    bottom: 16px;

    @media screen and (min-width: 768px) {
      position: static;
      justify-self: end;
    }
  }
}
