.price-slide {
  background: $color_back2;
  border-radius: 6px;
  padding: $pd_s;
  width: 260px;
  min-height: 210px;

  @media screen and (min-width: $screen-lg) {
    width: auto;
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr 16% 16% 20%;
    align-items: center;
  }

  @media screen and (min-width: $screen-xl) {
    padding: $pd_s $pd_m;
  }

  &--hr:after {
    display: none;

    @media screen and (min-width: $screen-lg) {
      content: '';
      position: absolute;
      display: block;
      width: 96%;
      height: 1px;
      background: $color_back3;
      bottom: 0;
      left: 2%;
    }
  }

  &__title {
    @include fontz(14px, 16px, 0);
    color: $color_text2;
    mix-blend-mode: normal;
    opacity: 0.72;
    margin-bottom: 4px;

    @media screen and (min-width: $screen-lg) {
      display: none;
    }
  }

  &__info {
    @include fontz(14px, 18px, 0.2px);
    color: $color_text1;
    margin-bottom: 16px;

    @media screen and (min-width: $screen-lg) {
      margin-bottom: 0;
    }
  }
}
