.price {
  &__title-box {
    padding: 16px 40px;
    grid-template-columns: 1fr 16% 36%;
    display: none;

    @media screen and (min-width: $screen-lg) {
      display: grid;
    }

    @media screen and (min-width: $screen-xl) {
      padding: 16px 56px;
    }
  }

  &__title {
    @include fontz(14px, 16px, 0);
    color: $color_text2;
    mix-blend-mode: normal;
    opacity: 0.72;
  }

  &__swiper {
    width: 100%;
    min-height: 250px;
    padding: 0 $pd_s;

    @media screen and (min-width: $screen-lg) {
      height: auto;
      padding: 0 $pd_m;
      margin-bottom: 24px;
    }

    @media screen and (min-width: $screen-xl) {
      padding: 0 $pd_l;
      margin-bottom: 32px;
    }
  }

  &__swiper-wrapper {
    @media screen and (min-width: $screen-lg) {
      display: block;
      background: $color_back2;
      border-radius: 6px;
    }
  }

  &__swiper-pagination {
    @media screen and (min-width: $screen-lg) {
      display: none;
    }
  }

  &__description {
    @include fontz(14px, 20px, 0.2px);
    color: $color_text1;
    padding: 0 $pd_s;
    margin-bottom: 16px;

    @media screen and (min-width: $screen-lg) {
      padding: 0 $pd_m;
      width: 63%;
    }

    @media screen and (min-width: $screen-xl) {
      padding: 0 $pd_l;
      width: 44%;
    }
  }
}
