.response {
  @include fontz(16px, 24px, -0.2px);
  color: $color_text2;
  display: none;

  @media screen and (min-width: $screen-xl) {
    display: inline-block;
  }

  &:focus,
  &:hover {
    color: $color_accent1;
  }

  &--margins {
    padding: 5px;
    margin-left: 50px;
  }
}
