.section-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
  border-top: 1px solid #D9FFF5;

  &--margins {
    padding: 16px;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      padding: 16px 24px;
      margin-bottom: 24px;
    }
    @media screen and (min-width: 1024px) {
      padding: 16px 32px;
    }
  }
}
