.section-title {
  @include fontz(16px, 24px, -0.2px);
  text-transform: uppercase;
  color: $color_text2;
  background: linear-gradient(90deg, $color_back1 0%, $color_back2 98.61%);
  border-top: 1px solid $color_accent4;

  &--margins {
    padding: $pd_s;
    margin-bottom: 16px;

    @media screen and (min-width: $screen-lg) {
      padding: $pd_s $pd_m;
      margin-bottom: 24px;
    }
    @media screen and (min-width: $screen-xl) {
      padding: $pd_s $pd_l;
    }
  }
}
