.subtitle {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  font-weight: 700;
  position: relative;
  padding-left: 16px;

  &::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 40px;
    background: #41f6d7;
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    top: -8px;
  }
}
