.title {
  @include fontz(28px, 40px, -0.2px);
  color: $color_text1;
  font-weight: 700;
  position: relative;
  padding-left: 16px;

  &::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 40px;
    background: $color_accent2;
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
